body{
    background-color: #414141;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212121;
    width: auto;
    min-width: 20%;
    border-radius: 10px;
    padding: 1%;
    position: absolute;
    top: 20%;
}
h1{
    width: fit-content;
    background: #414141;
    padding: 15px;
    border-radius: 10px;
}
.inputnumber{
    padding: 15px;
    margin: 15px;
    width: 70%;
}
.button{
    background-color: #f1f1f1;
    color: #212121;
    padding: 12px 100px;
    border-radius: 10px;
}
.button:active{
    background-color:#414141;  
    color: #f1f1f1;   
}
.wrongresult{
    padding: 20px 0;
    font-size: 20px;
    color: red;
}
.result, .previousguesses{
    padding: 20px 0;
    font-size: 20px;
}
#restargame{
    display: none;
}
.random{
    width: 61px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    filter: blur(6px);
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: fantasy;

}